

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body{
    position:relative;
    font-weight: 200;
    -webkit-font-kerning: auto;
    -webkit-font-smoothing: antialiased;
}

h3{
    font-family: 'La Belle Aurore', cursive;
    font-weight: bold;
}

/* SLIDER STYLES */

.slider-wrapper{
    position:relative;
    overflow:visible;
    width:100%;
    margin:auto;
    background:#1b1b1b; 
    border:none;
    box-shadow:0 3px 10px #666;
    transition: background-image 3s ease-in-out; 
    background-repeat:no-repeat;
    height:520px;
    max-width:1200px;
}

.slider-wrapper.kitchen {

    background-image:url('../img/panoramak.jpg');

}

.slider-wrapper.machu {

    background-image:url('../img/machu.jpg');
}

.slider{
    position:relative;
    width:100%; 
    /*	height:400px; when responsive, comment this out */
    margin:0 auto;

    background:transparent;
}

@media only screen and (min-width: 1000px){
    .slider{
        width:1000px;
    }
}

@media only screen and (min-width: 1440px){
    .slider{
        width:1440px;
    }
}

/* ELEMENT STYLES */

.claim{
    line-height:100%; 
}	
h1.claim {
    font-size:45px;
}

.teaser{
    padding:0.5% 1.5%;
    font-size:14px;
    line-height:100%
}

.small{
    width:250px;
    padding-left:0; padding-right:0px;
    text-align:center;
}

.light-green{background:#95C542;}
.green{background:#7CB761}
.orange{background:#EF7D00}
.turky{background:#348E8A}
.white{background:#fff; color:#333}
.nav.right{float:right;}

.navbar .brand {  
    font-size: 43px; 
    padding: 12px 20px; 
}

.navbar .navbar-inner.mini{
    height:20px;
    min-height:0;
}

.navbar-inner.mini .nav li a{
    color: #7C8082;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    margin:2px 0 0;
    padding-top:0;
    padding-bottom:0;
} 

.navbar-inner.mini .nav li.divider {
    border-right: 1px solid #BBBBBB;
    font-family: Tahoma;
    font-size: 8px;
    margin: 0 6px 0 2px;
    padding: 0;
    position: relative;
    top: -1px;
}

.white-card {
    background-color: #FAFBF7;
    background-image: linear-gradient(to bottom, #F8F9F4, #FDFDFB);
    background-repeat: repeat-x;
    box-shadow: 0 1px 4px 1px #B4B6A9, 2px 2px 1px 0 #FFFFFF inset;
    margin-bottom: 20px;
    padding: 10px;
}

.white-card .img-w.hover-fader {
    position: relative;
}
.white-card .img-w {
    box-shadow: 0 0 20px 22px #DDEBF6 inset;
    margin-bottom: 10px;
    text-align: center;
}

.white-card h3 {
    border-bottom: 1px solid #CFD1C6;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #31302E;
    font-size: 33px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    text-shadow: -1px -1px #FFFFFF;
    text-align:center;
}
.section-header {
    border-bottom: 3px solid #E3E4DD;
    box-shadow: 0 1px 0 #C2C4BB;
    color: #3D3B36;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.white-card p {
    color: #4F4E4C;
    font-size: 15px;
    line-height: 20px;
}

.white-card img{
    height: 100px;
}

.white-card.no-padding {
    padding: 0;
}
.white-card.just-white {
    background: none repeat scroll 0 0 #FFFFFF;
}

.pricing-table {
    padding-top: 20px;
}

.pricing-table .pricing-plan-w.first-plan {
    border-left: medium none;
}

.pricing-table .pricing-plan-w {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 20px;
    text-align: center;
} 

.pricing-table .pricing-plan-w.last-plan {
    border-right: medium none;
}

.pricing-table .pricing-plan-w {
    text-align: center;
}


.pricing-table .plan-desc ul {
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}


.pricing-table .plan-desc ul li {
    border-bottom: 1px solid #EEEEEE;
    font-size: 18px;
    padding: 10px 0;
    font-family: 'La Belle Aurore',cursive;
}

.pricing-table .plan-price-w {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.plan-name {
    border-bottom: 1px solid #DDDDDD;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.pricing-table .price-currency {
    display: inline-block;
    font-size: 32px;
    font-weight: 300;
    vertical-align: top;
}

.pricing-table .price-self {
    display: inline-block;
    font-size: 72px;
    font-weight: 300;
    vertical-align: bottom;
}

.pricing-table .price-period {
    color: #B3D8CF;
    display: inline-block;
    font-size: 24px;
    vertical-align: bottom;
}

.pricing-table .plan-price-desc {
    color: #B3D8CF;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    text-transform: lowercase;
}

.pricing-table .plan-price {
    line-height: 84px;
}

.eatlike{
    font-family: 'La Belle Aurore', cursive;
}

.first span.eatlike{
    font-size: 27px;
}

.navbar .brand{
    background:white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 5px gray;
    position:absolute;
    top:0;
    margin-left:0;
    padding: 12px;
}

.brand .eatlike {
    font-size: 60px;
    line-height: 6px;
}

.first > img {
    height: 34px;
    margin-left: -100px;
    margin-top: 12px;
    position: absolute;
    width: 117px;
} 

.brand strong {
    color: black;
    font-weight: bold;
}

.line {
    background: none repeat scroll 0 0 #403635;
    border: 1px solid white;
    box-shadow: 0 0 5px gray;
    height: 5px;
    margin-top: 120px;
    position: absolute;
    z-index: -1;
}

.blocki{
    border-radius: 3px;
    box-shadow: 0 0 5px black;
    padding:5px;
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0.73);
    color:white;
}

.cntry{
    font-size:30px;
}

#map-canvas{
    height:270px;
    width:362px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px black;

    background-color: #004FBD;
}

#map-canvas .gmnoprint,  #map-canvas .gmnoscreen{
    opacity:0.5;
    top:auto;
}

.signin {
    width:auto!important;
    height:auto!important;
    background: linear-gradient(to bottom, #0ED143 0%, #0ABB2D 100%) repeat scroll 0 0 transparent;
    border: 1px solid #1C1F30;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    color: white !important;
    display: inline-block;
    padding: 14px 50px;
    font-weight:normal;
    font-size:25px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    transition: text-shadow 175ms ease-in-out ;
}

.signin:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.signincontainer {
    transition: box-shadow 175ms ease-in-out ;
    border-radius: 3px 3px 3px 3px;
    box-shadow:0 0 60px 30px black;
}


.signincontainer:hover {
    box-shadow: 0 0 16px 3px black;
}

.fraction-slider .fs_obj .claim{
    display:block;
}

.gallery{
    box-shadow: 0 0 7px 0 black;
    width: auto;

}

.gallery img{
    width:auto!important;
}

.span6.blocki{
    width:570px!important;

}

.slide[data-bg="machu"] h1 span.eatlike{
    color: crimson;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
}
