/* ==========================================================================
   zooma Author Alexander Kindziora 2013 https://github.com/kindziora
   ========================================================================== */

.zoomcontainer{ 
    top:0;
    left:0;
    transition: all ease-in-out;
}

.zoomcontainer.zooma { 
    position:fixed;
}

.fixed{
    position:fixed;
}

.zoombackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    z-index:3;
    background: rgba( 0, 0, 0, 0.75 );
}

.show , .overlay.title.show {
    visibility: visible; 
    opacity: 1;
    display:block;
}
.zoomcontainer.zooma .tozoom {
    transition: 0.3s all ease-in-out;
}

.tozoom:hover{
    cursor: -moz-zoom-in; 
}

.zoomcontainer.zooma .tozoom.zoomed {
    z-index: 4;
    position: relative;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, 1 );
    cursor: -moz-zoom-out;
}

.img-circle .tozoom{
    background-color:transparent;
}

.overlay{
    background: none repeat scroll 0 0 rgba(11, 11, 11, 0.88);
    position: absolute; 
}

.overlay.title{ 
    font-size: 17px;
    margin: 0;
    padding: 15px;
    text-align: center;
    height:auto!important;
    opacity:0;
    border-radius: 500px;
    font-weight:bold;
}

.zoomed .overlay.title {
    width: 106%;
    padding: 4px;
    top: -39px;
    display:block;
    opacity: 1;
}

.overlay.info{
    display:none;   
}

.zoomed .overlay.info span.title{
    float: left;
    font-size: 10px;
    width: 100%;
}

.zoomed .overlay.info{
    display: block;
    font-size: 4px;
    height: 200%;
    left: -60%;
    line-height: normal;
    padding: 5px;
    position: absolute;
    text-align: left;
    top: -40%;
    width: 49%;
}



