<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}hoodcook{% endblock %}</title>
        <meta name="description" content="{% block description %}This is{% endblock %}">
        <meta name="keywords" content="{% block keywords %}keywords{% endblock %}" />
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Give+You+Glory|Roboto:400,300,700|La+Belle+Aurore&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/bootplus.css">
        <style>
                body {
                    padding-bottom: 40px;
                }
            </style>
            <link rel="stylesheet" href="css/bootplus-responsive.css">
            <link rel="stylesheet" href="css/font-awesome.css">
            <link rel="stylesheet" href="css/main.css">
            <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        </head>
        <body>
            <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

            <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

            <div  class="zoomcontainer">
            {% block content %}{% endblock %} 

                    <hr> 
                    <footer> 
                        <div class="container">
                            <div class="row">
                                <div class="span6">
                                    <div class="copyright">Copyright &copy; by Alexander Kindziora. All rights reserved.</div>
                                </div>
                                <div class="span6 navbar">
                                    <ul class="footer-links nav">
                                        <li>
                                            <a>Some</a>
                                        </li>
                                        <li>
                                            <a>Footer</a>
                                        </li>
                                        <li>
                                            <a>Policy</a>
                                        </li>
                                        <li>
                                            <a>Terms Of Use</a>
                                        </li>
                                        <li>
                                            <a>Links</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>

                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
                <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
                
                <script src="js/vendor/bootstrap.min.js"></script>

                <script src="js/main.js"></script>
                <script>
                    var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
                    (function(d, t) {
                        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                        g.src = '//www.google-analytics.com/ga.js';
                        s.parentNode.insertBefore(g, s)
                    }(document, 'script'));
                    </script>
                </body>
            </html>
